Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@jackjhall22 
jackjhall22
/
firstFlutterApp
1
0
0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
firstFlutterApp/.gitignore
@jackjhall22
jackjhall22 first commit
Latest commit 230d02b 26 days ago
 History
 1 contributor
43 lines (36 sloc)  692 Bytes
  
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About

